  body,html{
        margin: 0;
        height: 100vh;
    }
    .main{
        height: 100vh;
        postion: relative;
    }
    .div1{
        background: blue;
        height: 30vh;

    }
    
    .div2{
       
        height: 70vh;
    }
    .div3{
        height:500px;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
       
        
    }
    *{
        box-sizing: border-box;
    }
    .content{
        display: flex;
        height: 100%;
        padding: 50px;
    }
    .div4{
        height: 100%;
        width: 30%;
    }
    .div4 img{
        width: 100%;
        height: 100%;
    }
    .div5{

background-image: url("frame.png");
background-repeat: no-repeat;
        height: 100%;
        padding: 30px;
        width: 70%;
    }
    
    footer{
        margin-left: 20%;

    }
footer, ul{
    list-style: none;
}
footer,ul ,li{
    display: inline;
    padding: 10px;
    font-size: x-small;
}
button{
    background-color: white;
    font-size: small;
    padding: 2px;
    margin-left: 10%;
    margin-top: -10%;
}